<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063261497817-ntjhp9utvul2pqil3edro9rvrliescle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063261497817-ntjhp9utvul2pqil3edro9rvrliescle</string>
	<key>API_KEY</key>
	<string>AIzaSyAUHER4gul2lx522ARAFFmxVDDuablGtOU</string>
	<key>GCM_SENDER_ID</key>
	<string>1063261497817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aepSmartReports</string>
	<key>PROJECT_ID</key>
	<string>aepsmartreports</string>
	<key>STORAGE_BUCKET</key>
	<string>aepsmartreports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063261497817:ios:9a0f9f984ee3c8dcea91c8</string>
</dict>
</plist>